{
    "plugins": ["prettier-plugin-svelte"],
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "singleQuote": false,
    "semi": true,
    "overrides": [
        {
            "files": ["*.json", "*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        },
        { "files": "*.svelte", "options": { "parser": "svelte" } }
    ]
}
