@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-*: initial;
    --font-mono: vecterminus, ui-monospace, monospace;
    --font-source-code-pro: SourceCodePro;
    --font-vec-terminus: vecterminus;
    --font-tamzen: Tamzen;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@font-face {
    font-family: vecterminus;
    src: url("/VecTerminus28Bold.otf");
}

@font-face {
    font-family: Tamzen;
    src: url("/Tamzen8x16r.ttf");
}

@font-face {
    font-family: SourceCodePro;
    font-style: normal;
    font-weight: 200 900;
    src: url("/Source_Code_Pro.woff2");
}

@layer base {
    html {
        @apply font-mono;
    }

    body {
        @apply min-h-screen;
        @apply text-[16px];
        @apply bg-teal-800 text-black selection:bg-violet-400;
    }

    button {
        @apply p-2;
        @apply bg-neutral-400 text-black;
        @apply hover:bg-neutral-500;
        @apply border-4 border-b-neutral-700 border-r-neutral-700;
    }

    input[type="text"],
    input[type="number"],
    select {
        @apply bg-zinc-300 py-0.5 px-2 border border-zinc-700;
        appearance: textfield;
    }

    input[type="text"]:disabled,
    input[type="number"]:disabled,
    select:disabled {
        @apply bg-zinc-300 text-neutral-400;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    h1 {
        @apply text-[32px] mt-2 mb-2;
    }

    ul {
        @apply pl-6;
    }

    li::marker {
        content: "* ";
    }

    hr {
        @apply border my-5;
        @apply border-zinc-300;
    }

    a {
        @apply underline underline-offset-2;
        @apply text-blue-700;
    }

    a > * {
        @apply text-black;
    }
}

.tippy-box {
    @apply py-1 px-2 border border-neutral-600;
    @apply bg-neutral-300;
}
